---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const projects = [
  {
    title: "React CRUD",
    body: "First project",
    href: "https://table-crud-h6pluqrz3-gabriels999.vercel.app/",
    img: "/assets/table.png",
  },
  {
    title: "WatchFlix",
    body: "Second project",
    href: "https://watch-flix-theta.vercel.app/",
    img: "/assets/watchflix.png",
  },
  {
    title: "Marvelflix",
    body: "Third project",
    href: "https://marvelflix-tau.vercel.app/",
    img: "/assets/marvelflix.png",
  },
];
---

<Layout title="My Projects">
  <main>
    <h1><span class="text-gradient">Gabriel</span> Silva <span class="text-gradient">Santos</span></h1>
    <p class="instructions">
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      {
        projects.map((project) => (
          <Card href={project.href} image={project.img} title={project.title} body={project.body} />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 80ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .text-gradient-black {
    background-image: var(--accent-gradient-black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }
</style>
