---
interface Props {
navitems: Array<any>;
}

const { navitems } = Astro.props;
---

<header>
  <div class="container bar">
    <div class="logo">
      <img src="/logo.png" alt="Gabriel Santos logo">
    </div>
    <nav>
      <ul>
        {
          navitems.map((item) => (
            <li class="link-card">
              {" "}
              <a href={item.link}>
                <h2>{item.title}</h2>
              </a>{" "}
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    /* background-image: var(--accent-gradient); */
    background-size: 400%;
    border-radius: 0 0 0.5rem 0.5rem;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .container {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5%;
  }

  img {
    margin-top: 0.5rem;
    width: 25%;
    border-radius: 50%;
  }

  ul {
    display: flex;
    margin: 0.5rem;
    padding: 0;
  }
  .bar,
  .link-card {
    background-size: 400%;
    border-radius: 0 0 0.5rem 0.5rem;
    background-position: 100%;
    position: sticky;
  }
  .link-card {
    padding: 0.15rem;
    list-style: none;
    display: flex;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }
  .link-card:is(:hover, :focus-within) h2,
  .link-area:is(:hover, :focus-within) {
    color: rgb(var(--accent));
  }
</style>